#colorbox, #cboxOverlay, #cboxWrapper {
  position : absolute;
  top : 0;
  left : 0;
  z-index : 9999;
  overflow : hidden;
}

#cboxWrapper {
  max-width : none;
}

#cboxOverlay {
  position : fixed;
  width : 100%;
  height : 100%;
}

#cboxMiddleLeft, #cboxBottomLeft {
  clear : left;
}

#cboxContent {
  position : relative;
}

#cboxLoadedContent {
  overflow : auto;
}

#cboxTitle {
  margin : 0;
}

#cboxLoadingOverlay, #cboxLoadingGraphic {
  position : absolute;
  top : 0;
  left : 0;
  width : 100%;
  height : 100%;
}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor : pointer;
}

.cboxPhoto {
  float : left;
  margin : auto;
  border : 0;
  display : block;
  max-width : none;
}

.cboxIframe {
  width : 100%;
  height : 100%;
  display : block;
  border : 0;
}

#colorbox, #cboxContent, #cboxLoadedContent {
  box-sizing : content-box;
}

#cboxOverlay {
  background : #fff;
}

#colorbox {
  outline : 0;
}

#cboxTopLeft {
  width : 25px;
  height : 25px;
  background : url(../colorbox/border1.png) 0 0 no-repeat;
}

#cboxTopCenter {
  height : 25px;
  background : url(../colorbox/border1.png) 0 -50px repeat-x;
}

#cboxTopRight {
  width : 25px;
  height : 25px;
  background : url(../colorbox/border1.png) -25px 0 no-repeat;
}

#cboxBottomLeft {
  width : 25px;
  height : 25px;
  background : url(../colorbox/border1.png) 0 -25px no-repeat;
}

#cboxBottomCenter {
  height : 25px;
  background : url(../colorbox/border1.png) 0 -75px repeat-x;
}

#cboxBottomRight {
  width : 25px;
  height : 25px;
  background : url(../colorbox/border1.png) -25px -25px no-repeat;
}

#cboxMiddleLeft {
  width : 25px;
  background : url(../colorbox/border2.png) 0 0 repeat-y;
}

#cboxMiddleRight {
  width : 25px;
  background : url(../colorbox/border2.png) -25px 0 repeat-y;
}

#cboxContent {
  background : #fff;
  overflow : hidden;
}

.cboxIframe {
  background : #fff;
}

#cboxError {
  padding : 50px;
  border : #ccc solid 1px;
}

#cboxLoadedContent {
  margin-bottom : 0;
}

#cboxTitle {
  position : absolute;
  bottom : 0;
  left : 0;
  text-align : center;
  width : 100%;
  color : #999;
}

#cboxCurrent {
  position : absolute;
  bottom : 0;
  left : 100px;
  color : #999;
}

#cboxLoadingOverlay {
  background : url(../colorbox/loading.gif) 5px 5px no-repeat #fff;
}

#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
  border : 0;
  padding : 0;
  margin : 0;
  overflow : visible;
  width : auto;
  background : none;
}

#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
  outline : 0;
}

#cboxSlideshow {
  position : absolute;
  bottom : 0;
  right : 42px;
  color : #444;
}

#cboxPrevious {
  position : absolute;
  bottom : 0;
  left : 0;
  color : #444;
}

#cboxNext {
  position : absolute;
  bottom : 0;
  left : 63px;
  color : #444;
}

/* Bouton pour fermer colorbox */
#cboxClose {
  position : absolute;
  top : 10px;
  right : 25px;
  background : url("../colorbox/controls.png") -25px 0 no-repeat scroll transparent;
  width : 25px;
  height : 25px;
  text-indent : -9999px;
}
