header {
	display: block; 
}

html {
	font-size: 100%;
}

html, input {
	font-family: sans-serif;
	color: #222;
}

body {
	margin: 0;
	font-size: 1em;
	line-height: 1.4;
}

abbr[title] {
	border-bottom: 1px dotted;
}

strong {
	font-weight: bold;
	font-size:120%
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

ul {
	margin: 1em 0;
	padding: 0 0 0 40px;
}

img {
	border: 0;
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;}

label {
	cursor: pointer;
}

input {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
}

input {
	line-height: normal;
}

input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
}

input[disabled] {
	cursor: default;
}

input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="search"] {
	box-sizing: content-box;
}

@font-face {
    font-family: 'DejaVu';
    src: url('/fonts/dejavu/dejavu-webfont.eot');
    src: url('/fonts/dejavu/dejavu-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/dejavu/dejavu-webfont.woff') format('woff'),
         url('/fonts/dejavu/dejavu-webfont.ttf') format('truetype'),
         url('/fonts/dejavu/dejavu-webfont.svg#ConduitITCLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

a#fork img {
  position: absolute; 
  top: 0; right: 0; 
  border: 0;
}

a {
	color: #1BA9D4;
	text-decoration: underline;
	cursor: pointer;
}

a:visited {
	color: #1BA9D4;
}

a:hover {
	color: #06e;
}

div#header {
  background: #ffffff;
  padding: 5px 0;
  line-height: 20px; 
}

div#main {
  background: #ffffff;
  border-top: 1px solid #ffffff;
}

div#content {
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  color: #616161;
  font-size: 100%;
  min-height: 1000px;
}

div#content > ul > li {
  margin: 10px 0;
}

/* Demo */
div#content.demo {
  margin-bottom: 15px;
}

div#content.demo > div#placeHolder {
  margin-left: auto;
  margin-right: auto;
  
/* centrer regles de filtrage */
  width: 520px;
  padding-left: 40px;
}

div#content.demo > ul { 
  list-style: none; 
  margin: 30px -10px;
  padding: 0;
}

div#content.demo > ul > li { 
  display: inline-block; 
  background: #111111;
  background: rgba(0, 0, 0, 0.075);
  vertical-align: top;
  
/* hauteur minimale de la boite */
  min-height: 355px;
  
  margin: 5px;
  padding: 15px;
  border-radius: 3px;
  max-width: 200px;
  font-size: 100%;
}

div#content.demo > ul > li > img {
  width: 110px;
  height: 110px;
  margin: 15px 40px 15px;
}

div#content.demo > ul > li > a > img {
  width: 110px;
  height: 110px;
  margin: 15px 40px 15px;
}

div#content.demo > ul > li > span {
  display: block;
  color: #616161;
}

div#content.demo > ul > li > span + span {
  margin-top: 5px;
}

div#content.demo > ul > li > span > i{
  color: #757575;
  margin-left: 3px;
  font-size: small;
}

/*Style Framasoft*/

h2, h3, h4, h5, h6 {
  font-family: PTSansCaption, GillSans, sans-serif;
  font-weight: normal;
  color: #616161;
  font-size:125%
}

h1 {
  font-family: "DejaVu Sans", Verdana, Geneva, sans-serif;
  font-weight:bold;
  font-size:350%;
}

.trait { /* hr */
  background-color: #EEE;
  height: 11px;
  margin: 15px 0px;
  border: medium none;
}

.ombre {
  box-shadow: -4px 6px 9px rgba(50, 50, 50, 0.5);
}

/* Anciennes classes *
 * Couleur des Framatitre */
.frama {
  color: #6A5687;
}

.logiciel {
  color: #0C5B7A;
}

.fb_g2 { /* body */
  background-color: #eeeeee;
}

/* Le contenu qui suit n est pas du css officiel de framasoft */
.framadvd {
  margin-left:40px;
  margin-right:40px;
}

.container {
  padding:40px 40px;
}