h2, h3, h4, h5, h6 {
  font-family: PTSansCaption, GillSans, sans-serif;
  font-weight: normal;
  color: #616161;
  font-size:125%
}

h1 {
  font-family: "DejaVu Sans", Verdana, Geneva, sans-serif;
  font-weight:bold;
  font-size:350%;
}

.trait { /* hr */
  background-color: #EEE;
  height: 11px;
  margin: 15px 0px;
  border: medium none;
}

.ombre {
  box-shadow: -4px 6px 9px rgba(50, 50, 50, 0.5);
}

/* Anciennes classes *
 * Couleur des Framatitre */
.frama {
  color: #6A5687;
}

.logiciel {
  color: #0C5B7A;
}

.fb_g2 { /* body */
  background-color: #eeeeee;
}

/* Le contenu qui suit n est pas du css officiel de framasoft */
.framadvd {
  margin-left:40px;
  margin-right:40px;
}

.container {
  padding:40px 40px;
}